<!doctype html>
<html lang="en">
<head>
    <%- include("layouts/head.ejs") -%>
    <title><%= title %></title>
</head>
<body>
<div class="container text-center">admin</div>

    <%- include("layouts/script.ejs") -%>
</body>
</html>