<!doctype html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include("layouts/head.ejs") -%>
</head>
<body>
<div class="container">Home</div>

    <%- include("layouts/script.ejs") -%>
</body>
</html>